

<script type="text/javascript" src="/assets/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/assets/js/chart/jquery.flot.js"></script>
<script type="text/javascript" src="/assets/js/chart/jquery.flot.resize.js"></script>
<script src="/assets/js/progress-bar/src/jquery.velocity.min.js"></script>
<script src="/assets/js/progress-bar/number-pb.js"></script>
<script src="/assets/js/progress-bar/progress-app.js"></script>


<!-- MAIN EFFECT -->
<script type="text/javascript" src="/assets/js/preloader.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/load.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- {{--For Blog List--}} -->

<!-- {{--Advance Form Script--}} -->
<script type="text/javascript" src="/assets/js/colorPicker/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="/assets/js/inputMask/jquery.maskedinput.js"></script>
<script type="text/javascript" src="/assets/js/switch/bootstrap-switch.js"></script>
<script type="text/javascript" src="/assets/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/idealform/jquery.idealforms.js"></script>

<script type="text/javascript" src="/assets/js/timepicker/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="/assets/js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/datepicker/clockface.js"></script>
<script type="text/javascript" src="/assets/js/datepicker/bootstrap-datetimepicker.js"></script>


<script type="text/javascript" src="/assets/js/colorPicker/bootstrap-colorpicker.min.js"></script>
<!-- {{--------------------------}} -->

<!-- {{--Table Dynamic Scripts--}} -->
<script type="text/javascript" src="/assets/js/toggle_close.js"></script>
<script src="/assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<script src="/assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<!-- {{--------------------------------}} -->


<script src="/assets/js/flatvideo/jquery.fitvids.js"></script>

<script type="text/javascript" src="/assets/js/chart/realTime.js"></script>
<script type="text/javascript" src="/assets/js/speed/canvasgauge-coustom.js"></script>
<script src="/assets/js/jhere-custom.js"></script>
<script src="/assets/js/jhere-custom.js"></script>



<script type="text/javascript" src="assets/js/chart/jquery.flot.js"></script>
<script type="text/javascript" src="assets/js/chart/jquery.flot.resize.js"></script>
<script type="text/javascript" src="assets/js/chart/realTime.js"></script>
<script type="text/javascript" src="assets/js/speed/canvasgauge-coustom.js"></script>
<script type="text/javascript" src="assets/js/countdown/jquery.countdown.js"></script>




<script src="/assets/js/jhere-custom.js"></script>
<script type="text/javascript">
  var gauge4 = new Gauge("canvas4", {
        'mode': 'needle',
        'range': {
            'min': 0,
            'max': 90
        }
    });
    gauge4.draw(Math.floor(Math.random() * 90));
    var run = setInterval(function() {
        gauge4.draw(Math.floor(Math.random() * 90));
    }, 3500);

    /* Javascript
     *
     * See http://jhere.net/docs.html for full documentation
     */
    $(window).on('load', function() {
        $('#mapContainer').jHERE({
            center: [52.500556, 13.398889],
            type: 'smart',
            zoom: 10
        }).jHERE('marker', [52.500556, 13.338889], {
            icon: 'assets/img/marker.png',
            anchor: {
                x: 12,
                y: 32
            },
            click: function() {
                alert('Hallo from Berlin!');
            }
        })
            .jHERE('route', [52.711, 13.011], [52.514, 13.453], {
                color: '#FFA200',
                marker: {
                    fill: '#86c440',
                    text: '#'
                }
            });
    });

    var output, started, duration, desired;

    // Constants
    duration = 5000;
    desired = '50';

    // Initial setup
    output = $('#speed');
    started = new Date().getTime();

    // Animate!
    animationTimer = setInterval(function() {
        // If the value is what we want, stop animating
        // or if the duration has been exceeded, stop animating
        if (output.text().trim() === desired || new Date().getTime() - started > duration) {
            console.log('animating');
            // Generate a random string to use for the next animation step
            output.text('' + Math.floor(Math.random() * 60)

            );

        } else {
            console.log('animating');
            // Generate a random string to use for the next animation step
            output.text('' + Math.floor(Math.random() * 120)

            );
        }
    }, 5000);


    $('#getting-started').countdown('2015/01/01', function(event) {
        $(this).html(event.strftime(

            '<span>%M</span>' + '<span class="start-min">:</span>' + '<span class="start-min">%S</span>'));
    });
</script>