<div class="footer-space"></div>
<div id="footer">
    <div class="devider-footer-left"></div>
    <div class="time">
        <p id="spanDate"></p>
        <p id="clock"></p>
    </div>
    <div class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i>Copyright Bit College</div>
        <div class="devider-footer"></div>


    </div>



